save-prefix="^"
registry=https://registry.npmmirror.com/
chromedriver_mirror=https://npmmirror.com/mirrors/chromedriver/
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/